<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>Synaptics Trackpad</string>
	<key>CFBundleIdentifier</key>
	<string>com.meklort.Synaptics_Trackpad</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Synaptics Trackpad</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1</string>
	<key>CFBundleSignature</key>
	<string>MEKL</string>
	<key>CFBundleVersion</key>
	<string>1.1</string>
	<key>NSMainNibFile</key>
	<string>Synaptics Trackpad</string>
	<key>NSPrefPaneIconFile</key>
	<string>SynapticsTrackpad.tiff</string>
	<key>NSPrefPaneIconLabel</key>
	<string>Trackpad</string>
	<key>NSPrincipalClass</key>
	<string>PS2PreferencePanePref</string>
</dict>
</plist>
