<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Default Bootloader</key>
	<string>Chameleon R640</string>
	<key>Bootloaders</key>
	<dict>
		<key>Chameleon R640</key>
		<dict>
			<key>Visible Name</key>
			<string>Chameleon 2 RC2</string>
			<key>Installable</key>
			<true/>
			<key>Upgrade Path</key>
			<string></string>
			<key>MD5</key>
			<data>eIAVdNtB+maT7Jdv4AtQTg==</data>
		</dict>
	</dict>
</dict>
</plist>
