<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>AppleHDA</string>
	<key>CFBundleGetInfoString</key>
	<string>1.3.3a1, Copyright Apple Inc. 2005-2007</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.driver.AppleHDA</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Apple HDA Driver</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.3.3</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.3.3a1</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>HDA Driver</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleHDA</string>
			<key>CodecInfo</key>
			<array>
				<dict>
					<key>AnalogOut</key>
					<dict>
						<key>SignalProcessing</key>
						<dict>
							<key>Volume</key>
							<dict>
								<key>SoftwareVolume</key>
								<dict/>
							</dict>
						</dict>
					</dict>
					<key>CodecID</key>
					<integer>283902578</integer>
					<key>ForceWakeToIdle</key>
					<true/>
				</dict>
			</array>
			<key>IOClass</key>
			<string>AppleHDADriver</string>
			<key>IOProviderClass</key>
			<string>AppleHDACodec</string>
			<key>InputSampleLatency</key>
			<integer>30</integer>
			<key>Layouts</key>
			<array>
				<dict>
					<key>LayoutID</key>
					<integer>12</integer>
					<key>PathMapRef</key>
					<array>
						<dict>
							<key>CodecID</key>
							<array>
								<integer>283902578</integer>
							</array>
							<key>ExtMic</key>
							<dict/>
							<key>Headphone</key>
							<dict>
								<key>MuteGPIO</key>
								<integer>1342242837</integer>
							</dict>
							<key>Inputs</key>
							<array>
								<string>ExtMic</string>
								<string>Mic</string>
							</array>
							<key>IntSpeaker</key>
							<dict>
								<key>AmpPostDelay</key>
								<integer>100</integer>
								<key>AmpPreDelay</key>
								<integer>200</integer>
								<key>MaximumBootBeepValue</key>
								<integer>47</integer>
							</dict>
							<key>Mic</key>
							<dict/>
							<key>Outputs</key>
							<array>
								<string>Headphone</string>
								<string>IntSpeaker</string>
							</array>
							<key>PathMapID</key>
							<integer>16</integer>
						</dict>
					</array>
				</dict>
			</array>
			<key>OutputSampleLatency</key>
			<integer>30</integer>
			<key>PathMaps</key>
			<array>
				<dict>
					<key>PathMap</key>
					<array>
						<array>
							<array>
								<array>
									<dict>
										<key>Amp</key>
										<dict>
											<key>Channels</key>
											<array>
												<dict>
													<key>Bind</key>
													<integer>1</integer>
													<key>Channel</key>
													<integer>1</integer>
												</dict>
												<dict>
													<key>Bind</key>
													<integer>2</integer>
													<key>Channel</key>
													<integer>2</integer>
												</dict>
											</array>
											<key>MuteInputAmp</key>
											<true/>
											<key>PublishMute</key>
											<true/>
											<key>PublishVolume</key>
											<true/>
											<key>VolumeInputAmp</key>
											<true/>
										</dict>
										<key>NodeID</key>
										<integer>8</integer>
										<key>ProcessingState</key>
										<true/>
									</dict>
									<dict>
										<key>Boost</key>
										<integer>3</integer>
										<key>NodeID</key>
										<integer>35</integer>
									</dict>
									<dict>
										<key>NodeID</key>
										<integer>25</integer>
										<key>VREF</key>
										<integer>50</integer>
									</dict>
								</array>
							</array>
						</array>
						<array>
							<array>
								<array>
									<dict>
										<key>Amp</key>
										<dict>
											<key>Channels</key>
											<array>
												<dict>
													<key>Bind</key>
													<integer>1</integer>
													<key>Channel</key>
													<integer>1</integer>
												</dict>
												<dict>
													<key>Bind</key>
													<integer>2</integer>
													<key>Channel</key>
													<integer>2</integer>
												</dict>
											</array>
											<key>MuteInputAmp</key>
											<true/>
											<key>PublishMute</key>
											<true/>
											<key>PublishVolume</key>
											<true/>
											<key>VolumeInputAmp</key>
											<true/>
										</dict>
										<key>NodeID</key>
										<integer>9</integer>
										<key>ProcessingState</key>
										<true/>
									</dict>
									<dict>
										<key>Boost</key>
										<integer>3</integer>
										<key>NodeID</key>
										<integer>34</integer>
									</dict>
									<dict>
										<key>NodeID</key>
										<integer>24</integer>
										<key>VREF</key>
										<integer>80</integer>
									</dict>
								</array>
							</array>
						</array>
						<array>
							<array>
								<array>
									<dict>
										<key>NodeID</key>
										<integer>20</integer>
									</dict>
									<dict>
										<key>NodeID</key>
										<integer>12</integer>
									</dict>
									<dict>
										<key>Amp</key>
										<dict>
											<key>Channels</key>
											<array>
												<dict>
													<key>Bind</key>
													<integer>1</integer>
													<key>Channel</key>
													<integer>1</integer>
												</dict>
												<dict>
													<key>Bind</key>
													<integer>2</integer>
													<key>Channel</key>
													<integer>2</integer>
												</dict>
											</array>
											<key>MuteInputAmp</key>
											<true/>
											<key>PublishMute</key>
											<true/>
											<key>PublishVolume</key>
											<true/>
											<key>VolumeInputAmp</key>
											<false/>
										</dict>
										<key>NodeID</key>
										<integer>2</integer>
									</dict>
								</array>
							</array>
						</array>
						<array>
							<array>
								<array>
									<dict>
										<key>NodeID</key>
										<integer>33</integer>
									</dict>
									<dict>
										<key>NodeID</key>
										<integer>13</integer>
									</dict>
									<dict>
										<key>Amp</key>
										<dict>
											<key>Channels</key>
											<array>
												<dict>
													<key>Bind</key>
													<integer>1</integer>
													<key>Channel</key>
													<integer>1</integer>
												</dict>
												<dict>
													<key>Bind</key>
													<integer>2</integer>
													<key>Channel</key>
													<integer>2</integer>
												</dict>
											</array>
											<key>MuteInputAmp</key>
											<true/>
											<key>PublishMute</key>
											<true/>
											<key>PublishVolume</key>
											<true/>
											<key>VolumeInputAmp</key>
											<false/>
										</dict>
										<key>NodeID</key>
										<integer>3</integer>
									</dict>
								</array>
							</array>
						</array>
					</array>
					<key>PathMapID</key>
					<integer>16</integer>
				</dict>
			</array>
			<key>SampleOffsetPad</key>
			<integer>260</integer>
		</dict>
		<key>HDA Generic Codec Driver</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleHDA</string>
			<key>IOClass</key>
			<string>AppleHDACodecGeneric</string>
			<key>IOHDACodecFunctionGroupType</key>
			<integer>1</integer>
			<key>IOProviderClass</key>
			<string>IOHDACodecFunction</string>
		</dict>
	</dict>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IOAudioFamily</key>
		<string>1.1fc9</string>
		<key>com.apple.iokit.IOHDAFamily</key>
		<string>1.0.0d1</string>
		<key>com.apple.kpi.bsd</key>
		<string>8.0.0b3</string>
		<key>com.apple.kpi.iokit</key>
		<string>8.0.0b3</string>
		<key>com.apple.kpi.libkern</key>
		<string>8.0.0b3</string>
		<key>com.apple.kpi.mach</key>
		<string>8.0.0b3</string>
	</dict>
</dict>
</plist>
