<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>AppleHDA</string>
	<key>CFBundleGetInfoString</key>
	<string>1.3.3a1, Copyright Apple Inc. 2005-2007</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.driver.AppleHDA</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Apple HDA Driver</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.3.3</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.3.3a1</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>HDA Driver</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleHDA</string>
			<key>CodecInfo</key>
			<array>
				<dict>
					<key>AnalogOut</key>
					<dict>
						<key>SignalProcessing</key>
						<dict>
							<key>Volume</key>
							<dict>
								<key>SoftwareVolume</key>
								<dict/>
							</dict>
						</dict>
					</dict>
					<key>CodecID</key>
					<integer>283902568</integer>
					<key>ForceWakeToIdle</key>
					<true/>
				</dict>
			</array>
			<key>IOClass</key>
			<string>AppleHDADriver</string>
			<key>IOProviderClass</key>
			<string>AppleHDACodec</string>
			<key>InputSampleLatency</key>
			<integer>30</integer>
			<key>Layouts</key>
			<array>
				<dict>
					<key>LayoutID</key>
					<integer>12</integer>
					<key>PathMapRef</key>
					<array>
						<dict>
							<key>CodecID</key>
							<array>
								<integer>283902568</integer>
							</array>
							<key>Headphone</key>
							<dict>
								<key>AmpPostDelay</key>
								<integer>150</integer>
								<key>AmpPreDelay</key>
								<integer>150</integer>
							</dict>
							<key>Inputs</key>
							<array>
								<string>LineIn</string>
								<string>Mic</string>
								<string>SPDIFIn</string>
							</array>
							<key>IntSpeaker</key>
							<dict>
								<key>AmpPostDelay</key>
								<integer>150</integer>
								<key>AmpPreDelay</key>
								<integer>150</integer>
								<key>MaximumBootBeepValue</key>
								<integer>64</integer>
								<key>SignalProcessing</key>
								<dict/>
							</dict>
							<key>LineIn</key>
							<dict/>
							<key>LineOut</key>
							<dict>
								<key>AmpPostDelay</key>
								<integer>150</integer>
								<key>AmpPreDelay</key>
								<integer>150</integer>
							</dict>
							<key>Mic</key>
							<dict>
								<key>SignalProcessing</key>
								<dict>
									<key>SoftwareDSP</key>
									<dict>
										<key>Equalization</key>
										<dict>
											<key>Filter0</key>
											<dict>
												<key>FilterType</key>
												<integer>1752195443</integer>
												<key>Frequency</key>
												<data>
								waTDQg==
												</data>
												<key>Gain</key>
												<data>
								AACAQA==
												</data>
												<key>Q</key>
												<data>
								8wQ1Pw==
												</data>
												<key>index</key>
												<integer>0</integer>
												<key>runInSoftware</key>
												<true/>
											</dict>
											<key>Filter1</key>
											<dict>
												<key>FilterType</key>
												<integer>1752195443</integer>
												<key>Frequency</key>
												<data>
								A5OOQg==
												</data>
												<key>Gain</key>
												<data>
								AABkQQ==
												</data>
												<key>Q</key>
												<data>
								qzstPw==
												</data>
												<key>index</key>
												<integer>1</integer>
												<key>runInSoftware</key>
												<true/>
											</dict>
											<key>Filter2</key>
											<dict>
												<key>FilterType</key>
												<integer>1651664234</integer>
												<key>Frequency</key>
												<data>
								AADwQg==
												</data>
												<key>Gain</key>
												<data>
								AAAEwQ==
												</data>
												<key>Q</key>
												<data>
								AICXQQ==
												</data>
												<key>index</key>
												<integer>2</integer>
												<key>runInSoftware</key>
												<true/>
											</dict>
											<key>Filter3</key>
											<dict>
												<key>FilterType</key>
												<integer>1885434465</integer>
												<key>Frequency</key>
												<data>
								K8M3Qw==
												</data>
												<key>Gain</key>
												<data>
								AADQvw==
												</data>
												<key>Q</key>
												<data>
								WPsGQQ==
												</data>
												<key>index</key>
												<integer>3</integer>
												<key>runInSoftware</key>
												<true/>
											</dict>
											<key>Filter4</key>
											<dict>
												<key>FilterType</key>
												<integer>1885434465</integer>
												<key>Frequency</key>
												<data>
								CkyWQw==
												</data>
												<key>Gain</key>
												<data>
								AACQvw==
												</data>
												<key>Q</key>
												<data>
								MzPTQA==
												</data>
												<key>index</key>
												<integer>4</integer>
												<key>runInSoftware</key>
												<true/>
											</dict>
											<key>Filter5</key>
											<dict>
												<key>FilterType</key>
												<integer>1885434465</integer>
												<key>Frequency</key>
												<data>
								M3z7Qw==
												</data>
												<key>Gain</key>
												<data>
								AADQvw==
												</data>
												<key>Q</key>
												<data>
								izanQA==
												</data>
												<key>index</key>
												<integer>5</integer>
												<key>runInSoftware</key>
												<true/>
											</dict>
											<key>Filter6</key>
											<dict>
												<key>FilterType</key>
												<integer>1885434465</integer>
												<key>Frequency</key>
												<data>
								Gb5IRA==
												</data>
												<key>Gain</key>
												<data>
								AAAIwA==
												</data>
												<key>Q</key>
												<data>
								6fbYQA==
												</data>
												<key>index</key>
												<integer>6</integer>
												<key>runInSoftware</key>
												<true/>
											</dict>
											<key>Filter7</key>
											<dict>
												<key>FilterType</key>
												<integer>1885434465</integer>
												<key>Frequency</key>
												<data>
								Xj96RA==
												</data>
												<key>Gain</key>
												<data>
								AADgvw==
												</data>
												<key>Q</key>
												<data>
								etMvQQ==
												</data>
												<key>index</key>
												<integer>7</integer>
												<key>runInSoftware</key>
												<true/>
											</dict>
											<key>Filter8</key>
											<dict>
												<key>FilterType</key>
												<integer>1885434465</integer>
												<key>Frequency</key>
												<data>
								rx+WRA==
												</data>
												<key>Gain</key>
												<data>
								AACQvw==
												</data>
												<key>Q</key>
												<data>
								+qRXQQ==
												</data>
												<key>index</key>
												<integer>8</integer>
												<key>runInSoftware</key>
												<true/>
											</dict>
											<key>Filter9</key>
											<dict>
												<key>FilterType</key>
												<integer>1819304307</integer>
												<key>Frequency</key>
												<data>
								RlSQRg==
												</data>
												<key>Gain</key>
												<data>
								AnaUvw==
												</data>
												<key>Q</key>
												<data>
								8wQ1Pw==
												</data>
												<key>index</key>
												<integer>15</integer>
												<key>runInSoftware</key>
												<true/>
											</dict>
										</dict>
										<key>GainStage</key>
										<dict>
											<key>LeftGain</key>
											<data>
								wmJKQA==
											</data>
											<key>RightGain</key>
											<data>
								wmJKQA==
											</data>
										</dict>
										<key>NoiseCanceller</key>
										<dict>
											<key>NoiseProfile</key>
											<data>
								Lv9xwm3IWsLU
								s3bCqn2IwlYK
								jMIO847CznGP
								wvb1kcLc85fC
								/iGcwnobn8LA
								mqHC5S2kwoh+
								p8IjBKnCpL2q
								wkCZrMKQoa7C
								JH2xwhMBtMIr
								PrbC+EW4wjqc
								usIWq7rCuA25
								whaEuMKuP7rC
								VoO6wiPZucKv
								mrfC4Gq1wvqO
								tcI+u7bCYli2
								wnHRtcIEq7TC
								8l6zwuX7s8Ku
								y7TCRP6zwsOM
								s8K7QbPCoWi1
								wouutcJkKrTC
								P3W0wvp8t8Ll
								xLnCqou6wgYj
								usIDOLnCjJm6
								wo5+vMKx5rzC
								dpm9wvNnvsJ+
								mbzCoHO8wsQC
								vMI6w7vCSM+7
								wh9uvsJ2Ar7C
								DqO8wjASvsLO
								vL3CpAS9wlLg
								vsJkd77ClnG+
								wvD/wMIYfL/C
								+O7AwjkKw8Jy
								osHCdXy9wuYX
								wMICPMHCmQ3A
								wtrWvcKXZbzC
								rxq8wuAavcKi
								crzCxPa7wp75
								u8LUQLvCJje8
								wlPxvcI+7L7C
								AEjAwmUDv8Kl
								EMLCytnBwm8J
								xsJ6CMnCEJbM
								wn5JzMKc4MzC
								es3OwtQKysJi
								7MrC1g/PwoLh
								0MJob9LCcuvR
								wsTX1MJjv9XC
								btfTwmRy18Kq
								TNvC9J7bwvkO
								3cIW493C0mLe
								wpoK38KE4t7C
								9DbdwsiK4cJ7
								fOTC93HnwsJx
								6sJKJOzC8E3t
								wpxF7sIpN+7C
								QfXuwknF8MI2
								Cv7C
											</data>
										</dict>
										<key>SoftClip</key>
										<dict>
											<key>SoftClipDrive</key>
											<data>
								AACAPw==
											</data>
										</dict>
									</dict>
								</dict>
							</dict>
							<key>Outputs</key>
							<array>
								<string>IntSpeaker</string>
								<string>Headphone</string>
								<string>LineOut</string>
								<string>SPDIFOut</string>
							</array>
							<key>PathMapID</key>
							<integer>16</integer>
							<key>SPDIFIn</key>
							<dict/>
							<key>SPDIFOut</key>
							<dict/>
						</dict>
					</array>
				</dict>
			</array>
			<key>OutputSampleLatency</key>
			<integer>30</integer>
			<key>PathMaps</key>
			<array>
				<dict>
					<key>PathMap</key>
					<array>
						<array>
							<array>
								<array>
									<dict>
										<key>NodeID</key>
										<integer>8</integer>
									</dict>
									<dict>
										<key>NodeID</key>
										<integer>35</integer>
									</dict>
									<dict>
										<key>Amp</key>
										<dict>
											<key>Channels</key>
											<array>
												<dict>
													<key>Bind</key>
													<integer>1</integer>
													<key>Channel</key>
													<integer>1</integer>
												</dict>
												<dict>
													<key>Bind</key>
													<integer>2</integer>
													<key>Channel</key>
													<integer>2</integer>
												</dict>
											</array>
											<key>MuteInputAmp</key>
											<true/>
											<key>PublishMute</key>
											<true/>
											<key>PublishVolume</key>
											<true/>
											<key>VolumeInputAmp</key>
											<true/>
										</dict>
										<key>Boost</key>
										<integer>3</integer>
										<key>NodeID</key>
										<integer>25</integer>
										<key>VREF</key>
										<integer>80</integer>
									</dict>
								</array>
							</array>
						</array>
						<array>
							<array>
								<array>
									<dict>
										<key>NodeID</key>
										<integer>20</integer>
									</dict>
									<dict>
										<key>NodeID</key>
										<integer>15</integer>
									</dict>
									<dict>
										<key>Amp</key>
										<dict>
											<key>Channels</key>
											<array>
												<dict>
													<key>Bind</key>
													<integer>1</integer>
													<key>Channel</key>
													<integer>1</integer>
												</dict>
												<dict>
													<key>Bind</key>
													<integer>2</integer>
													<key>Channel</key>
													<integer>2</integer>
												</dict>
											</array>
											<key>MuteInputAmp</key>
											<true/>
											<key>PublishMute</key>
											<true/>
											<key>PublishVolume</key>
											<true/>
											<key>VolumeInputAmp</key>
											<false/>
										</dict>
										<key>NodeID</key>
										<integer>2</integer>
									</dict>
								</array>
							</array>
							<array>
								<array>
									<dict>
										<key>NodeID</key>
										<integer>21</integer>
									</dict>
									<dict>
										<key>NodeID</key>
										<integer>16</integer>
									</dict>
									<dict>
										<key>Amp</key>
										<dict>
											<key>Channels</key>
											<array>
												<dict>
													<key>Bind</key>
													<integer>1</integer>
													<key>Channel</key>
													<integer>1</integer>
												</dict>
												<dict>
													<key>Bind</key>
													<integer>2</integer>
													<key>Channel</key>
													<integer>2</integer>
												</dict>
											</array>
											<key>MuteInputAmp</key>
											<true/>
											<key>PublishMute</key>
											<true/>
											<key>PublishVolume</key>
											<true/>
											<key>VolumeInputAmp</key>
											<false/>
										</dict>
										<key>NodeID</key>
										<integer>3</integer>
									</dict>
								</array>
							</array>
						</array>
					</array>
					<key>PathMapID</key>
					<integer>16</integer>
				</dict>
			</array>
			<key>SampleOffsetPad</key>
			<integer>260</integer>
		</dict>
		<key>HDA Generic Codec Driver</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleHDA</string>
			<key>IOClass</key>
			<string>AppleHDACodecGeneric</string>
			<key>IOHDACodecFunctionGroupType</key>
			<integer>1</integer>
			<key>IOProviderClass</key>
			<string>IOHDACodecFunction</string>
		</dict>
	</dict>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IOAudioFamily</key>
		<string>1.1fc9</string>
		<key>com.apple.iokit.IOHDAFamily</key>
		<string>1.0.0d1</string>
		<key>com.apple.kpi.bsd</key>
		<string>8.0.0b3</string>
		<key>com.apple.kpi.iokit</key>
		<string>8.0.0b3</string>
		<key>com.apple.kpi.libkern</key>
		<string>8.0.0b3</string>
		<key>com.apple.kpi.mach</key>
		<string>8.0.0b3</string>
	</dict>
</dict>
</plist>
