<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleIdentifier</key>
	<string>com.meklort.legacy.CSRUSBBluetoothHCIController</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Legacy Broadcom USB Bluetooth HCI Controller</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>2.1.3</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>2.1.3f8</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>CSRUSBBluetoothHCIController</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.CSRUSBBluetoothHCIController</string>
			<key>IOClass</key>
			<string>CSRUSBBluetoothHCIController</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>ClassicMustNotSeize</key>
				<true/>
			</dict>
			<key>idProduct</key>
			<integer>43386</integer>
			<key>idVendor</key>
			<integer>3504</integer>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright (c) 2008 Apple Inc. All Rights Reserved.</string>
	<key>OSBundleCompatibleVersion</key>
	<string>1.2b9</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.driver.AppleUSBBluetoothHCIController</key>
		<string>2.0.0</string>
		<key>com.apple.iokit.IOBluetoothFamily</key>
		<string>2.0.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>8.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>8.0</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Console</string>
</dict>
</plist>
