<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>AppleHDAHardwareConfigDriver</string>
	<key>CFBundleGetInfoString</key>
	<string>1.7.4a1, Copyright Apple Inc. 2005-2009</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.driver.AppleHDAHardwareConfigDriver</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>HDA Hardware Config Driver</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.7.4</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.7.4a1</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>HDA Hardware Config Resource</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleHDAHardwareConfigDriver</string>
			<key>HDAConfigDefault</key>
			<array>
				<dict>
					<key>AFGLowPowerState</key>
					<data>
					AQAAAA==
					</data>
					<key>CodecID</key>
					<integer>283902578</integer>
					<key>ConfigData</key>
					<data>
					AUccMAFHHQEBRx4QAUcfkAGHHCABhx0AAYce
					gQGHHwEBlxwQAZcdAQGXHqABlx+QAhccQAIX
					HRACFx4hAhcfAQ==
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>12</integer>
				</dict>
			</array>
			<key>IOClass</key>
			<string>AppleHDAHardwareConfigDriver</string>
			<key>IOMatchCategory</key>
			<string>AppleHDAHardwareConfigDriver</string>
			<key>IOProviderClass</key>
			<string>AppleHDAHardwareConfigDriverLoader</string>
			<key>PostConstructionInitialization</key>
			<array>
				<dict>
					<key>CodecID</key>
					<integer>283904133</integer>
					<key>Layouts</key>
					<array>
						<integer>36</integer>
						<integer>38</integer>
						<integer>52</integer>
						<integer>53</integer>
					</array>
					<key>widgets</key>
					<array>
						<dict>
							<key>MicAttributes</key>
							<integer>28</integer>
							<key>MicInfo</key>
							<string>Sampled on rising edge</string>
							<key>NodeID</key>
							<integer>39</integer>
							<key>PinConfigDefault</key>
							<integer>2426405136</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>Codec</key>
					<string>Cirrus Logic CS4206</string>
					<key>CodecID</key>
					<integer>269697542</integer>
					<key>Layouts</key>
					<array>
						<integer>0</integer>
					</array>
					<key>widgets</key>
					<array>
						<dict>
							<key>NodeID</key>
							<integer>22</integer>
							<key>PinConfigDefault</key>
							<integer>1073742064</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>Codec</key>
					<string>Wolfson WM8800</string>
					<key>CodecID</key>
					<integer>451708928</integer>
					<key>Layouts</key>
					<array>
						<integer>67</integer>
						<integer>73</integer>
					</array>
					<key>widgets</key>
					<array>
						<dict>
							<key>MicInfo</key>
							<string>WM8800 External Microphone Virtual Pin Complex</string>
							<key>NodeID</key>
							<integer>24</integer>
							<key>PinConfigDefault</key>
							<integer>28020848</integer>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
	</dict>
	<key>OSBundleCompatibleVersion</key>
	<string>1.0.0d1</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.kpi.iokit</key>
		<string>8.0.0b3</string>
		<key>com.apple.kpi.libkern</key>
		<string>8.0.0b3</string>
	</dict>
</dict>
</plist>
