<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>EHCISleepEnabler</string>
	<key>CFBundleIdentifier</key>
	<string>com.superhai.driver.EHCISleepEnabler</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>EHCISleepEnabler</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0.1b1</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>NewUSBEHCI</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.superhai.driver.EHCISleepEnabler</string>
			<key>IOClass</key>
			<string>EHCISleepEnabler</string>
			<key>IOPCIClassMatch</key>
			<string>0x0c032000</string>
			<key>IOProbeScore</key>
			<integer>100</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>IOUserClientClass</key>
			<string>IOUSBControllerUserClient</string>
		</dict>
		<key>NewUSBEHCI_OMI</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.kernel.iokit</string>
			<key>IOClass</key>
			<string>IOService</string>
			<key>IOMatchCategory</key>
			<string>OMI_EHCI</string>
			<key>IOPCIClassMatch</key>
			<string>0x0c032000</string>
			<key>IOProbeScore</key>
			<integer>20</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
		</dict>
	</dict>
	<key>OSBundleCompatibleVersion</key>
	<string>1.0</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.driver.AppleUSBEHCI</key>
		<string>1.0</string>
		<key>com.apple.iokit.IOPCIFamily</key>
		<string>2.1</string>
		<key>com.apple.iokit.IOUSBFamily</key>
		<string>3.0.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>9.0.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>9.0.0</string>
		<key>com.apple.kpi.mach</key>
		<string>9.0.0</string>
		<key>com.apple.kpi.unsupported</key>
		<string>9.0.0</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Root</string>
</dict>
</plist>
