<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>VoodooPower</string>
	<key>CFBundleGetInfoString</key>
	<string>© 2008 Superhai</string>
	<key>CFBundleIdentifier</key>
	<string>com.superhai.driver.VoodooPower</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>VoodooPower</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.2.3</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>PowerManager</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.superhai.driver.VoodooPower</string>
			<key>IOClass</key>
			<string>VoodooPower</string>
			<key>IOMatchCategory</key>
			<string>VoodooPower</string>
			<key>IOProviderClass</key>
			<string>IOResources</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
			<key>PowerControl</key>
			<dict>
				<key>AutoPowerManager</key>
				<true/>
				<key>LoopTimerFactor</key>
				<integer>4</integer>
				<key>OnAC</key>
				<dict>
					<key>CStateControl</key>
					<false/>
					<key>Hysteresis</key>
					<integer>50</integer>
					<key>PStateLimitHigh</key>
					<integer>0</integer>
					<key>PStateLimitLow</key>
					<integer>0</integer>
					<key>TStateControl</key>
					<false/>
					<key>Threshold</key>
					<integer>200</integer>
				</dict>
				<key>OnBattery</key>
				<dict>
					<key>CStateControl</key>
					<false/>
					<key>Hysteresis</key>
					<integer>100</integer>
					<key>PStateLimitHigh</key>
					<integer>0</integer>
					<key>PStateLimitLow</key>
					<integer>0</integer>
					<key>TStateControl</key>
					<false/>
					<key>Threshold</key>
					<integer>500</integer>
				</dict>
				<key>OnBatteryLow</key>
				<dict>
					<key>CStateControl</key>
					<false/>
					<key>Hysteresis</key>
					<integer>100</integer>
					<key>PStateLimitHigh</key>
					<integer>15</integer>
					<key>PStateLimitLow</key>
					<integer>0</integer>
					<key>TStateControl</key>
					<false/>
					<key>Threshold</key>
					<integer>800</integer>
				</dict>
				<key>UseEfiFsb</key>
				<true/>
				<key>UserVoltageMax</key>
				<integer>0</integer>
				<key>UserVoltageMin</key>
				<integer>0</integer>
				<key>VoltageOverride</key>
				<false/>
				<key>VoltageProbe</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.kernel.libkern</key>
		<string>1.0.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>8.0.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>8.0.0</string>
		<key>com.apple.kpi.mach</key>
		<string>8.0.0</string>
		<key>com.apple.kpi.unsupported</key>
		<string>8.0.0</string>
	</dict>
</dict>
</plist>
